body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
}

.wrapper{
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

/* end common section */

header {
    overflow: hidden;
}

header h1{
    float: left;
    color: #555555;
    font-size: 1.6rem;
}

nav{
    float: right;
}

nav ul li {
    list-style: none;
    float: left;
    margin-left: 1.25rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #555555;
    font-weight: 600;
}

nav ul li a:hover{
    color: #aaa;
}

/* end navigation */

section:after {
    content: " ";
    display: block;
    clear:both;
}

section div.container img {
    width: 33.3333%;
    float: left;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: opacity .5s;
}

section div.container img:hover{
    opacity: .7;
}

section {
    margin-bottom: 3%;
}

section h2 {
    text-align: center;
}

footer {
    overflow: hidden;
    text-align: center;
    padding-bottom: .75rem;
}

footer p {
    font-weight: bold;
}