body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
}

.wrapper{
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

/* end common section */

header {
    overflow: hidden;
}

header h1{
    float: left;
    color: #555555;
    font-size: 1.6rem;
}

nav{
    float: right;
}

nav ul li {
    list-style: none;
    float: left;
    margin-left: 1.25rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #555555;
    font-weight: 600;
}

nav ul li a:hover{
    color: #aaa;
}

/* end navigation */